<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <div class="container" onclick="onclick">
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="center">
          <h2 id="heading-msg">Provide your details</h2>
          <form method="post" action="/signup">
            <input name="username" type="username" placeholder="username"/>
            <input name="email" type="email" placeholder="email"/>
            <input name="password" type="password" placeholder="password"/>
            <!-- <input name="profilePic" type="file" accept="image/*"/> -->
            <input type="submit" value="signup">
          </form>
          <p id="message">Already have an accoount?</p><a href="/login">Login</a>
          <h2>&nbsp;</h2>
        </div>
      </div>

</body>
</html>
